<app-emp-nav></app-emp-nav>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
<div class="card  " style="width: 18rem;" >
    <img src="https://www.pngarts.com/files/4/Male-Face-Download-PNG-Image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{data[0].empName}}</h5>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Emp Code :{{data[0].empCode}}</li>
      <li class="list-group-item">Email : {{data[0].empEmail}}</li>
      <li class="list-group-item">Contact: {{data[0].empPhone}}</li>
      <li class="list-group-item">Designation :{{data[0].designation}}</li>
      <li class="list-group-item">Salary :{{data[0].empSalary}}</li>
      <li class="list-group-item">username :{{data[0].username}}</li>
    </ul>
    
  </div></div>